{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>Category "{{ category.name }}"</h1>


    {% for quote in category.quote %}
        <blockquote>
            <p>{{ quote.content }}</p>
            <footer class="blockquote-footer">
                {{ quote.meta }}
            </footer>

        </blockquote>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-outline-secondary" href="{{ path('category_edit', {'id': category.id}) }}">editer la catégorie</a>

    {{ include('category/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
